.movies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 80px 0 0;
    margin: 0;
}

.movies-list__table {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(300px,1140px));
    gap: 40px;
}

.movies-list__button {
    margin: 50px 0 0;
    max-width: 1140px;
    min-width: 300px;
    width: 100%;
    padding: 11px 0 9px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #F4F4F4;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    border-radius: 6px;
    border: none;
}

@media (max-width: 800px) {
    .movies-list {
        padding: 70px 0 0;
    }

    .movies-list__button {
        margin: 80px 0 0;
    }
}

@media (max-width: 400px) {
    .movies-list {
        padding: 50px 0 0;
    }

    .movies-list__table {
        gap: 20px;
    }
}
