.card {
    margin: 0;
    padding: 6px 6px 6px 22px;
    list-style-type: none;
    max-width: 1140px;
    min-width: 300px;
    max-height: 232px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #F4F4F4;
}

.card_description {
    display: none;
}
    
.card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 0;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.card__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__length {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    padding: 0;
    margin: 13px 0 0;
    color: #A0A0A0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__emotion {
    max-width: 14px;
    width: 100%;
    height: 12px;
    margin: 0;
    background-image: url("/src/images/heart.svg");
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: 2s;
    background-size: 100% 100%;

}

.card__emotion:hover {
    opacity: .6;
}

.card__emotion_active {
    opacity: 1;
    background-image: url("/src/images/heart-active.svg");
}

.card__close {
    background-image: url("/src/images/close.svg");
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    cursor: pointer;
    background-size: 100% 100%;
    max-width: 14px;
    width: 100%;
    height: 12px;
    transition: .4s;
}

.card__close:hover {
    opacity: 0.6;
}

.card__close_visible {
    visibility: visible;
}

.card__close_hidden {
    visibility: hidden;
}

.card__trailer {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.card__image {
    width: 220px;
    height: 122px;
    margin: 0;
    display: block;
    object-fit: cover;
}

@media (max-width: 616px) {
    .card__image {
        width: 200px;
        height: 110px;
    }
}

@media (max-width: 587px) {
    .card__title {
        font-size: 16px;
        line-height: 20px;
        max-width: 240px;
    }
    
}

@media (max-width: 655px) {
    .card__image {
        width: 190px;
        height: 105px;
    }
}

/* @media (max-width: 584px) {
    .card__image {
        width: 500px;
        height: 360px;
    }

    .card__description {
        width: 500px;
    }
} */

/* @media (max-width: 566px) {
    .card__image {
        width: 480px;
        height: 350px;
    }

    .card__description {
        width: 480px;
    }
}

@media (max-width: 550px) {

    
    .card__image {
        width: 460px;
        height: 290px;
    }

    .card__description {
        width: 460px;
    }
} */
/* 
@media (max-width: 530px) {
    .card__image {
        width: 485px;
        height: 295px;
    }

    .card__description {
        width: 480px;
    }
} */

/* @media (max-width: 515px) {
    .card {
        padding: 10px 0 6px;
        flex-direction:column-reverse;
        align-items: center;
        max-height: 550px;
    }

    .card__image {
        width: 470px;
        height: 295px;
    }

    .card__description {
        width: 480px;
    }

    .card__info {
        padding: 0 0 0 12px;
        width: 410px;
    }

    .card__emotion {
        margin: 0 10px 0 0;    
    }
} */
/* 
@media (max-width: 496px) {
    .card__image {
        width: 460px;
        height: 290px;
    }

    .card__description {
        width: 460px;
    }
} */

/* @media (max-width: 486px) {
    .card__image {
        width: 445px;
        height: 280px;
    }

    .card__description {
        width: 445px;
    }
}

@media (max-width: 475px) {
    .card__image {
        width: 430px;
        height: 260px;
    }

    .card__description {
        width: 430px;
    }
} */

@media (max-width: 487px) {
    .card__title {
        max-width: 200px;
    }
    
}

@media (max-width: 457px) {
    .card {
        padding: 10px 0 6px;
        flex-direction:column-reverse;
        align-items: center;
        max-height: 550px;
    }

    .card__image {
        width: 410px;
        height: 240px;
    }

    .card__description {
        flex-direction: row;
        width: 410px;
    }

    .card__info {
        padding: 0 0 0 12px;
        width: 410px;
    }

    .card__title {
        max-width: 410px;
    }
    
    .card__emotion {
        margin: 0 10px 0 0;    
    }
}

@media (max-width: 436px) {
    .card__image {
        width: 385px;
        height: 200px;
    }

    .card__description {
        width: 385px;
    }
}

@media (max-width: 417px) {
    .card__image {
        width: 370px;
        height: 185px;
    }

    .card__description {
        width: 370px;
    }
}

@media (max-width: 400px) {
    .card {
        max-height: 460px;
    }

    .card__description {
        margin: 0;
        padding: 14px 12px;
        width: 95%;
    }

    .card__info {
        padding: 0;
        max-width: 88%;
    }

    .card__title {
        font-size: 12px;
        line-height: 15px;
    }

    .card__length {
        margin: 8px 0 0;
    }

    .card__image {
        width: 350px;
        height: 180px;
    }
    
    .card__emotion {
        margin: 0;    
    }
}

@media (max-width: 379px) {
    .card__image {
        width: 340px;
        height: 175px;
    }
}

@media (max-width: 362px) {
    .card__image {
        width: 325px;
        height: 170px;
    }
}

@media (max-width: 350px) {
    .card__image {
        width: 315px;
        height: 170px;
    }
}

@media (max-width: 340px) {
    .card {
        max-height: 232px;
        padding: 0;
        width: 300px;
    }

    .card__image {
        width: 300px;
        height: 168px;
    }

    .card__description {
        width: 100%;
    }

}