.password__container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: none;
}

.label-password {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    text-align: left;
}

.label-password_active {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #A0A0A0;
}

.password__input {
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 10px 0 6px;
    width: 100%;
    color: #000000;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    text-align: right;
    border-bottom: 1px solid #E8E8E8;
}

.password__input:focus {
    outline: none;
    border-bottom: 1px solid #3456F3;
}

.password__input_active {
    padding-top: 5px;
    font-size: 14px;
    text-align: unset;
}

.password__input_error {
    color: #EE3465;
}

.password__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    padding: 6px 0 0;
    margin: 0;
    visibility: hidden;
}

.password__error_type_active {
    visibility: visible;
}

@media (max-width: 450px) {
    .password__input {
        line-height: 13px;
    }

    .password__input_active {
        line-height: 17px;
    }
}
