.not-found {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top:0;
    left:0;
    width: 100vw;
    padding: 246px 0 60px;
    margin: 0;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.not-found__title {
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
}

.not-found__subtitle {
    margin: 5px 0 184px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.not-found__text-link {
    background-color: inherit;
    border: none;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
}

@media (max-width: 800px) {
    .not-found {
        padding: 408px 0 222px;
    }
}

@media (max-width: 400px) {
    .not-found {
        padding: 329px 0 30px;
    }

    .not-found__title {
        font-size: 80px;
        line-height: 97px;
    }
    
    .not-found__subtitle {
        margin: 10px 0 284px;
        font-size: 12px;
        line-height: 15px;
    }
    
    .not-found__text-link {
        font-size: 12px;
        line-height: 15px;
    }
}