.popup {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 20px;
    background-color: #DDDEE3;
    border: 1px solid #696969;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 12px;
    z-index: 5;
    visibility: hidden;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}

.popup__title {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}