.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
    /* -moz-osx-font-smoothing: grayscale; */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(320px, 1280px);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
    "header"
    "content"
    "footer";
}

.link-click {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.link-click:hover {
    opacity: 0.6;
}