.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 29px;
    margin: 0;
    border-left: 1px solid #CBCBCB;
}

.filter__container {
    cursor: pointer;
}

.filter__input {
    display: none;
}

.filter__other {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 20px;
    width: 36px;
    background-color: #2BE080;
    margin: 7px 14px 7px 0;
    padding: 0;
    transition: background-color,transform .4s;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
  
.filter__other::before {
    display: flex;
    width: 16px;
    height: 16px;
    content: "";
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-top: 18px;
    margin-left: 21px;
    transform: translate(-50%,-50%);
}
  
.filter__other::after {  
    display: none;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    margin-top: 14px;
    margin-left:10px;
    transform: translate(-50%,-50%);
}

.filter__input:checked + .filter__other::before {
    display: none;
}
  
.filter__input:checked + .filter__other::after {
    display: flex;
}

.filter__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 8px 11px 0 0;
    padding: 0;
    text-align: right;
}

@media (max-width: 912px) {
    .filter {
        padding: 0 0 0 19px;
    }

    .filter__text {
        margin: 8px 0;
    }
}

@media (max-width: 632px) {
    .filter {
        justify-content: center;
        border-left: none;
        padding: 0;
        margin: 0 auto;
    }
}
