.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 75px auto 0;
    box-sizing: border-box;
}

.auth__login {
    margin: 36px 0 70px;
}

.auth__welcome {
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
}

.auth__welcome_login {
    text-align: left;
}


.auth__welcome_profile {
    margin: 0 0 123px;
}

.auth__form {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 396px;
}

.auth__button {
    width: 396px;
    height: 45px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    margin: 179px 0 0;
    padding: 0;
    border: none;
    background-color: inherit;
    transition: 2s;
    color: #000000;
    opacity: 1;
}

.auth__button.hover {
    opacity: 0.8;
}

.auth__button_active {
    background-color: #3456F3;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 212px 0 16px;
}

.auth__button_profile {
    margin: 160px 0 0;
}

.auth__button_active_up {
    margin: 154px 0 16px;
}

.auth__button_inactive {
    opacity: 0.3;
}

.auth__redirect {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.auth__redirect-text {
    margin: 0 7px 0 0 ;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #A0A0A0;
}

.auth__redirect-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #3456F3;
    text-align: center;
    text-decoration: none;
    transition: .4s ease-in-out;
}

.auth__redirect-link_type_profile {
    font-size: 13px;
    font-weight: 500;
    color: #EE3465;
}

.auth__redirect-link:hover {
    opacity: 0.6;
}

@media (max-width: 800px) {
    .auth {
        margin: 40px auto 0;
    }
    .auth__welcome_profile {
        margin: 196px 0 96px;
    }

    .auth__button_profile {
        margin: 150px 0 0;
    }
}

@media (max-width: 450px) {

    .auth {
        margin: 56px auto 0;
    }

    .auth__welcome {
        margin: 0 0 70px;
    }

    .auth__welcome_profile {
        margin: 14px 0 80px;
    }

    .auth__welcome_login {
        text-align: center;
    }

    .auth__form {
        width: 260px;
    }

    .auth__button {
        width: 260px;
        margin: 340px 0 0;
        font-size: 12px;
        line-height: 15px;
    }

    .auth__button_active {
        margin: 310px 0 14px;
    }

    .auth__button_active_up {
        margin: 250px 0 14px;
    }

    .auth__button_profile {
        margin: 327px 0 0;
    }

    .auth__redirect-text {
        font-size: 12px;
        line-height: 15px;
    }

    .auth__redirect-link {
        font-size: 12px;
        line-height: 15px;
    }

    .auth__redirect-link_type_profile {
        font-size: 12px;
    }
}