.about-me {
    padding-top: 115px;
    padding-bottom: 100px;
}

.about-me__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.about-me__block-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.about-me__suttitle {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    letter-spacing: -0.04em;
    margin: 66px 0 18px;
}

.about-me__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.about-me__info {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 22px 0 99px;
    padding: 0;
    max-width: 600px;
}

.about-me__contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.about-me__link-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #000000;
    margin: 0 20px 0 0;
}

.about-me__image {
    width: 270px;
    height: 327px;
    margin: 66px 0 0;
    padding: 0;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 950px) {
    .about-me__info {
        max-width: 400px;
    }
}

@media (max-width: 870px) {
    .about-me {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .about-me__suttitle {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
        margin: 66px 0 16px;
    }

    .about-me__text {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__info {
        font-size: 12px;
        line-height: 18px;
        margin: 20px 0 87px;
        max-width: 364px;
    }

    .about-me__image {
        width: 255px;
        height: 307px;  
    }
}

@media (max-width: 725px) {
    .about-me__info {
        max-width: 290px;
    }
}

@media (max-width: 650px) {
    .about-me {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about-me__block {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .about-me__suttitle {
        font-size: 30px;
        line-height: 36px;
        text-align: left;
        margin: 40px 0 20px;
    }

    .about-me__text {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__info {
        font-size: 11px;
        line-height: 16px;
        margin: 20px 0 40px;
        max-width: 450px;
    }

    .about-me__image {
        width: 292px;
        height: 352px;  
        margin: 60px auto 0;
    }

    .about-me__link-text {
        margin: 0 26px 0 0;
    }
}

@media (max-width: 460px) {
    .about-me__info {
        max-width: 290px;
    }
}